<div class="col md-3" >
  <h1>User infomation</h1>
  <%= attachment_image_tag user, :profile_image, fallback:"no_image.jpg", size:"100x100" %>
  <table>
    <tr></tr>
    <tr>
      <td>name</td>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <td>introduction</td>
      <td><%= user.introduction %></td>
    </tr>
  </table>
  <div class="row">
    <%= link_to "Edit User",edit_user_path(user), class:"btn btn-info" %>
  </div>

  <h1>New Book</h1>
  <%= form_with model: book, local:true do |f| %>
  <h2>Title</h2>
  <%= f.text_field:title %>
  <h2>Opinion</h2>
  <%= f.text_area:body %>
  <%= f.submit"Create Book", class:"btn btn-success" %>
  <% end %>
</div>
